*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
}

.list{
    display: flex;
    list-style-type: none;
    width: 80vw;;
    border: 2px solid black;
}

.nav-item{
    width: 25%;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    border-right: 1px solid black;
    cursor: pointer;
}

.search{
    align-items: center;
    
    
}
.search input{
    height: 90%;
    background-color: black;
    width: 100%;
    border-radius: 25px;
}